.header{
		color:Lime;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.paragraphone{
		color:#6f00f0;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body {
		background-color:#e700f0;
}

.BlackMamba {
		padding-left: 50px;
    padding-bottom: 50px;
		padding-right: 50px;
		padding-top: 50px;
}
